/* BACKUP OF GLOBALS.CSS - Created during CSS syntax debugging */
/* This is a backup in case we need to restore the original file */
/* The Leaflet parser was encountering "Missing opening {" errors */
